/* mobile */
.landing_page {
    background-color: #EEF0F1;
    border-color: black;
}

h2 {
    background-color: white;
    text-align: center;
    padding: 5px;
}

.blurb {
    background-color: #EEF0F1;
    border-color: black;
}

/* web */
